@import 'primereact/resources/primereact.min.css';
@import 'primeflex/primeflex.scss';
@import './typography.scss';
body,
html,
#root {
  height: 100%;
}

body,
html {
  overflow: auto !important;
}

.active {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: -33px;
    width: 100%;
    height: 2px;
    background-color: #ff5722;
    display: block;
  }
}
